* {
    box-sizing: border-box;
}

body {
    background-color: dimgrey;
}

header {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: dotted black 1px;
    height: 70px;
}
/* #logo {
    background-image: url("adobo-code/CSS/assets/spiced.png");
    height: 50px;
    width: 50px;
    background-color: orange;
    float: left;
} */

img {
    float: left;
    width: 25%;
    height: 25%;
}

#menu {
    height: 50px;
    width: 50px;
    background-color: pink;
    float: right;
}

.container {
    height: 400px;
    width: 900px;
    background-image: url("assets/spices.jpg");
    background-size: cover;
    border: solid black 1px;
    position: relative;
}

h3 {
    margin: 0;
    position: absolute;
}

h3:nth-child(1) {
    top: 0;
    left: 0;
}
h3:nth-child(2) {
    top: 0;
    right: 0;
}
h3:nth-child(3) {
    bottom: 0;
    left: 0;
}

h3:nth-child(4) {
    bottom: 0;
    right: 0;
}
