h1 {
    color: pink;
}

* {
    box-sizing: border-box;
}

#head {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 150px;
    width: 150px;
    border: solid 2px blue;
    border-radius: 50%;
}

#body {
    position: absolute;
    top: 250px;
    left: 175px;
    height: 250px;
    width: 5px;
    background-color: gold;
}

.arm {
    position: absolute;
    top: 320px;
    left: 175px;
    height: 5px;
    width: 200px;
}
