body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fbf6f0;
}

.title {
    height: 20%;
    font-size: 30px;
    font-weight: bold;
}
h1 {
    align-self: center;
    font-family: "Bungee Shade", cursive;
    color: #ffa45b;
    margin: 0;
    padding: 0;
    animation: moveH1 3s ease-out;
}

@keyframes moveH1 {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    80% {
        transform: translateX(100px);
    }

    100% {
        opactity: 1;
        transform: translate(0) rotate(360deg);
    }
}

/*.win {
    visibility: hidden;
}*/

.win {
    align-self: center;
    font-family: "Bungee Shade", cursive;
    font-size: 2.5em;
    color: #ffa45b;
    margin: 0;
    padding: 0;

    animation: moveWin 3s ease-out;
}

@keyframes moveWin {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.board {
    display: flex;
    border: solid #ffa45b 3px;
}

.column {
    margin: 0;
}

.slot {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aee6e6;
    z-index: 10000;
}

.hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid rgb(67, 115, 133) 1px;
    background-color: whitesmoke;
}

.player1 {
    animation-name: chipDrop 3s forwards;
}

.player1 .hole {
    background-color: #fff5c0;
    animation-name: chipDrop;
}

.player2 .hole {
    background-color: #fdcfdf;
}

.chip {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid rgb(67, 115, 133) 1px;
    background-color: rgb(168, 8, 8);
    z-index: 100;

    animation: chipDrop 3s forwards;
}

@keyframes chipDrop {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(500px);
    }
}
