
   <header>
       <h1>Toni's Project Portfolio </h1>
    <h2>Check it out!</h2>
   </header>
    
    
    <div class="main">
{{#projects}}
       <div> <a href= "/ {{dirName}}">{{projName}}</a> </div>
       <div class="image">  <a href="/{{dirName}}"> <img src={{dirName}}/screenshot.png> </a> </div>   
        

        {{/projects}}

    </div>
        
    
