.outer {
    height: 200px;
    width: 200px;
    border: solid black 3px;
    margin: 0 auto;
}

#inner {
    height: 50px;
    width: 50px;
    border: solid black 2px;
    margin: 0 auto;
    position: relative;
    top: 75px;
}
