body {
    background-color: rgb(224, 241, 201);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgage {
    height: 300px;
    width: 300px;
}

img {
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
}
