body {
    box-sizing: border-box;
    background-color: cornsilk;
}

.highlight {
    background-color: white;
}
p {
    cursor: pointer;
    border: solid black 1px;
    padding: 2px;
    margin: 4px;
    background-color: aliceblue;
}
.results {
    width: 200px;
}
