body {
    margin: 0;
}

.ticker {
    border: 3px solid tomato;
    overflow: hidden;
    position: relative;
    height: 50px;
}
.headlines {
    white-space: nowrap;
    position: absolute;
    left: 500px;
    font-size: 20px;
}

a {
    padding: 20px;
}
